@{
}

@model Appointment

<div class="container">
    <h2>Choose an Appointment</h2>
</div>


<form method="post" asp-action="AddAppointment">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="GroupName">Name of Group</label>
        <input asp-for="GroupName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GroupSize">Size of Group:</label>
        <input asp-for="GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone Number (optional):</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <br />

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="AddAppointment" />
    </div>

</form>